.container_hero_two {
  display: flex;
  align-items: center;
  justify-content: center;
  .hero_two_forma {
    position: absolute;
    width: 70%;
    height: 800px;
    margin-bottom: 5rem;
    background-color: rgb(68, 86, 80);
    clip-path: polygon(0 23%, 100% 10%, 100% 100%, 0% 100%);
    border-radius: 0% 0% 90px 90px;
  }
  .hero_two_items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem;
    width: 70%;
    bottom: 10px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 8px;
        gap: 10px;
      }
      h2 {
        font-size: 12px;
        font-weight: 400;
        margin-top: 15px;
        color: white;
        margin: 0;
      }
      p {
        margin: 0;
        color: rgb(159, 158, 158);
        font-size: 12px;
      }
    }
    img {
      width: 140px;
    }
  }
}

.contenedor {
  position: relative;
  width: 300px; /* Cambia el tamaño del contenedor según tus necesidades */
}

.imagen-circular {
  width: 100%;
  text-align: center;
}

.imagen-circular img {
  border-radius: 50%;
}

.texto-circular {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Cambia el tamaño del área del texto según tus necesidades */
  text-align: center;
  border: 2px solid black; /* Agrega un borde al texto */
  padding: 10px;
  border-radius: 50%;
}
