<div class="container_hero_two">
  <div class="hero_two_forma"></div>
  <div class="hero_two_items">
    <div class="item">
      <img src="../../assets/mojito.png" alt="" />
      <div class="item_text">
        <h2>Mojito</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Old Fashioned.png" alt="" />
      <div class="item_text">
        <h2>Old Fashioned</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Long Island Tea.png" alt="" />
      <div class="item_text">
        <h2>Long Island Tea</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Negroni.png" alt="" />
      <div class="item_text">
        <h2>Negroni</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Whiskey Sour.png" alt="" />
      <div class="item_text">
        <h2>Whiskey Sour</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Dry Martini.png" alt="" />
      <div class="item_text">
        <h2>Dry Martini</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Daiquiri.png" alt="" />
      <div class="item_text">
        <h2>Daiquiri</h2>
        <p>Add to my list +</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/Margarita.png" alt="" />
      <div class="item_text">
        <h2>Margarita</h2>
        <p>Add to my list +</p>
      </div>
    </div>
  </div>
</div>

<div class="contenedor">
  <div class="imagen-circular">
    <img src="../../assets/Margarita.png" alt="Imagen Circular" />
  </div>
  <div class="texto-circular">
    Texto alrededor de la imagen circular. Texto alrededor de la imagen
    circular.
  </div>
</div>
