<div class="hero_one_container">
  <div class="hero_one_container_img">
    <div class="backgraund">
      <img class="backgraund_img" src="../../assets/Lineas-fondo.png" alt="" />
      <div class="backgraund_circulo">
        <img
          class="Fruta_roja"
          src="../../assets/Fruta-roja-centro.png"
          alt=""
        />
        <img class="Botella" src="../../assets/Botella-Gin-centro.png" alt="" />
        <img
          class="Palitos"
          src="../../assets/Palitos-cafe-centro.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="hero_one_container_text">
    <div class="left">
      <h1>Drink of the moment</h1>
      <p>
        Gin, also known as gin, is one of the most popular and appreciated
        alcoholic beverages worldwide, especially for its versatility in
        cocktails. Originally from Europe, this spirit has evolved over the
        centuries and comes in a wide range of styles and flavors.
      </p>
      <h2 class="rating">4.9</h2>
      <div class="container_button">
        <button>
          Try now
          <img src="../../assets/Vector 1.png" alt="" />
        </button>
      </div>
    </div>
    <div class="right">
      <div class="right_item">
        <div class="right_item_img">
          <img src="../../assets/water-solid 1.png" alt="" />
        </div>
        <div>
          <h3>Versatility</h3>
          <p>
            The range of flavors in gin is exceptionally wide, thanks to the
            variety of botanicals that can be used in its production.
          </p>
        </div>
      </div>
      <div class="right_item">
        <div class="right_item_cocktail">
          <img src="../../assets/cocktail-solid 1.png" alt="" />
        </div>
        <div>
          <h3>Distiontiv Flavor</h3>
          <p>
            Bittersweet and slightly woody flavor is the signature of any gin.
          </p>
        </div>
      </div>
      <div class="right_item">
        <div class="right_item_img">
          <img src="../../assets/Vector.png" alt="" />
        </div>
        <div>
          <h3>Purity</h3>
          <p>
            This gives it a clean, pure feel, without the caramel or vanilla
            notes that come from barrel aging.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
